body{
    margin:0;
    padding:0;
    text-align:center;
}
.toparea{
    background:#5EADE2;
    color:#641E16;
    padding:0.5px 0;
}
.menuarea{

}
.women{
    background-color:red;
    height:500px;
}
.women img{
    width:110px;
}
.women h3{
    color:#641E16;
}

.men{
    background-color:palevioletred;
}
.men img{
    width:110px;
}
.men h3{
    color:#641E16;
}
